.container{

  padding: 10px;
  button{
    padding: 10px;
    background-color: rgb(192, 109, 109);
    border: none;
    font-size: 19px;
    border-radius: 2px;
    cursor: pointer;
  }
}
.accordian{
  width: 500px;
}
.item{
 background-color: rgb(192, 109, 109);

 
}
.title{
  background-color: rgb(192, 109, 109);
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
}
.content{
  color: rgb(255, 255, 255);
  padding: 10px;
}
